<app-paginabase [info]="infoPaginaBase"></app-paginabase>



<div class="container main-container">

    <div class="row">
        <div class="col-sm-3 text-center"><button type="button" class="btn btn-outline-success"
                (click)="login('google')">GOOGLE</button> </div>
        <div class="col-sm-3 text-center"><button type="button" class="btn btn-outline-primary"
                (click)="login('facebook')">FACEBOOK</button></div>
        <div class="col-sm-3 text-center"><button type="button" class="btn btn-outline-info"
                (click)="login('twitter')">TWITER</button></div>
        <div *ngIf='servicioChat.usuario!=null' class="col-sm-3 text-center"><button type="button" class="btn btn-outline-danger"
                (click)="logOut()">LOGOUT</button></div>
    </div>
    <br>

    <div class="chat-window">

        <div class="app-mensajes" id="app-mensajes">

            <div *ngFor="let item of servicioChat.chats"
                [ngClass]="{'text-right': servicioChat.usuario.uid == item.uid, 'text-left': servicioChat.usuario.uid != item.uid  }">
                <h1><span class="badge"
                        [ngClass]="{ 'badge-primary': servicioChat.usuario.uid == item.uid, 'badge-success': servicioChat.usuario.uid != item.uid}">{{item.nombre}}</span>
                </h1>
                <p>{{item.mensaje}}</p>
            </div>


        </div>

        <input type="text" name="mensaje" [(ngModel)]='mensaje' class="form-control" (keyup.enter)='enviarMensaje()'>



    </div>

    <button type="button" class="btn btn-primary" (click)='verMensajes()'>Ver Mensajes</button>


</div>