<app-paginabase [info]="infoPaginaBase"></app-paginabase>

<div class="container">
  <div class="row">
    <div class="col-12 Formulario">






      <!-- <form #formConsulta="ngForm" class="col-12"> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
      <form class="col-12">

      <div class="buscador">
        <div class="w50_">
          <input type="text" placeholder="Ingrese código" name="dato">
        </div>
        <div class="w50_">
          <app-c-comons-botonctextoeicono [infoBoton]="botones.buscar" (click)="consultarPreinscripcionConsulta(dato)"></app-c-comons-botonctextoeicono>
        </div>
      </div>

      </form>

      <div *ngIf="consultarInscripcionResultado === true" class="respuesta">
        {{t_resultado | json }}
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                              <s-commons-lista [idLista]='t_resultado' class="row"></s-commons-lista>
                           -->

      </div>
      
      <!-- <ul  *ngFor="let item of residents" class="list-group">
        <li class="list-group-item list-group-item-success">{{item.ndoc}} - {{item.apellido}} {{item.nombre}} {{item.paisnacimiento}}</li>
      </ul> -->


      <app-c-commons-lista></app-c-commons-lista>
      
      <!-- <div class="listado">
        
        <div *ngFor="let residente of residentes" class="fila">
          <div>{{residente.id}}</div>
          <div>{{residente.apellido}}</div>
          <div>{{residente.nombre}}</div>
          <div>{{residente.tipodoc}}</div>
          <div>{{residente.ndoc}}</div>
          <div>{{residente.paisnacimiento}}</div>
          <div class="acciones">
            <div class="al"><span class="icon-bot_ico_acceder_ver"></span></div>
            <div class="al"><span class="icon-bot_ico_cancelar"></span></div>
            <div class="al"><span class="icon-askeletor"></span></div>
          </div>
        </div>
      </div> -->


      <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="residents">
        
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="ndoc">
              <th mat-header-cell *matHeaderCellDef> DNI </th>
              <td mat-cell *matCellDef="let element"> {{element.ndoc}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>


    </div>
  </div>
</div>