<app-paginabase [info]="infoPaginaBase"></app-paginabase>
<div class="container  animated bounceInUp slow">
    <div class="row">
        <div class="col-12">
            <h1>Peinscripcion</h1>
            <p>inscripcion works!</p>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">First item</li>
        <li class="list-group-item list-group-item-info">Second item</li>
        <li class="list-group-item list-group-item-warning">Third item</li>
        <li class="list-group-item list-group-item-danger">Fourth item</li>
      </ul>
</div>
