<app-paginabase [info]="infoPaginaBase"></app-paginabase>




<div class="container  animated bounceInUp slow">


    <mat-card class="example-card">
        <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>DATOS GENERALES</mat-card-title>
            <mat-card-subtitle>INFORMACION BASICA DEL USUARIO</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form [style.fontSize.px]="15">

                <div class="form-row">


                    <div class="form-group col-md-6">
                        <mat-form-field matTooltip="Info about the action"  matTooltipPosition="right" matTooltipClass="example-tooltip-red" class="example-full-width">
                            <input matInput placeholder="NOMBRE" maxlength="10" name="nomasdasdbre" [(ngModel)]='text'
                                (keyup)="changeUpperCase(text)">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="APELLIDO" maxlength="10" name="nomasdasdbre" [(ngModel)]='text'
                                (keyup)="changeUpperCase(text)">
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="D.N.I" type="number" maxlength="10" name="nomasdasdbre"
                                [(ngModel)]='text' (keyup)="changeUpperCase(text)">
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field class="example-full-width" color="Green">
                            <input matInput placeholder="C.U.I.L" type="number" maxlength="10" name="nomasdasdbre"
                                [(ngModel)]='text' (keyup)="changeUpperCase(text)">
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6 center">
                        <mat-radio-group class="example-radio-group" aria-label="Select an option">
                            <mat-radio-button value="1">MASCULINO</mat-radio-button>
                            <mat-radio-button value="2">FEMENINO</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>ESTADO CIVIL</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option1">SOLTERO</mat-option>
                                <mat-option value="option2">DIVORCIOADO</mat-option>
                                <mat-option value="option3">MUERTO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled='false'></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>NACIONALIDAD</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option1">ARGENTINO</mat-option>
                                <mat-option value="option2">URUGUAYO</mat-option>
                                <mat-option value="option3">ALEMAN</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>




                </div>
            </form>
        </mat-card-content>

    </mat-card>





    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</div>